* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #484848;
    /* border: 1px solid #000; */
}

/* @font-face {
    font-family: 'museo sans';
    src: url(./MuseoSans-300.otf) format(otf);
} */

body {
    font-family: 'Raleway';
}

.nav-container {
    width: 100%;
}

.nav-container a {
    text-decoration: none;
    font-weight: 700;
}

.nav-one {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218,218,218);
}

.nav-one-left {
    position: relative;
    display: flex;
    gap: 16px;
}

.logo,
.fa-search,
.dropdown1 input,
.dropdown2 {
    z-index: 2;
}

.logo {
    width: 150px;
    background-color: #e60012;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e60012;
}

.logo p {
    display: block;
    padding: 2px 6px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 55px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 80px;
    width: 440px;
    height: 40px;
    margin-top: 8px;
    border-bottom: 1px solid #000;
}

.search-container a {
    display: flex;
}

.search-container .fa-search {
    font-size: 18px;
}

.search-box input {
    margin-left: 8px;
    border: none;
    outline: none;
}

.search-container .fa-angle-down {
    margin-left: 12px;
}


.nav-one-right {
    display: flex;
    margin-right: 24px;
    gap: 8px;
}

.nav-one-right li {
    height: 60px;
    /* margin-right: 32px; */
    list-style: none;
}

.nav-one-right li a {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.nav-two {
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(218,218,218);
}

.nav-two-ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-two-ul li {
    list-style: none;
    height: 50px;
}

.nav-two-ul li a {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.nav-one-right i,
.nav-two-ul i {
    margin: 0 6px;
}

nav li a:hover,
nav a:hover i,
nav a:hover span,
.search-box input:focus ::-webkit-input-placeholder  {
    color: #e60012;
    transition: 200ms;
}

.search-container:hover {
    border-bottom: 1px solid #e60012;
    transition: 200ms;
}

.dropdown * {
    /* border: 1px solid #000; */
}

/* Position all the dropdown's */

.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4,
.dropdown5,
.dropdown6,
.dropdown7 {
    position: relative;
}

/* Remove underline links to dropdown contents */
.content3 a,
.content4 a,
.content5 a,
.content6 a,
.content7 a {
    text-decoration: none;
}

/* Dropdown1 */


.dropdown.content1 {
    position: absolute;
    display: none;
    /* width: 100vw; */
    /* top: -30px; */
}

.content1-background {
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    width: 100vw;
    left: -170px;
    top: -30px;
    height: 530px;
    z-index: 0;
}

.content1-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    /* left: -9000%; */
    top: 50px;
    padding-bottom: 80px;
    /* background-color: #d0a9a9; */
    z-index: 1;
}

/* .content1 {
    position: relative;
    width: 100%;
    left: 9%;
} */

.content1 a {
    text-decoration: none;
}

.content1-box1 {
    width: 700px;
}

.content1-box1 li {
    margin-top: 24px;
    list-style: none;
}

.content1-box1 li a {
    color: #e60012;
}

.content1 img {
    width: 200px;
}

.content1-box2 {
    margin-left: 80px;
}

.store-products-container {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.store-products-box {
    width: 480px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 0.25rem;
}

.store-products-box a {
    display: flex;
}

.store-products-box-div {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.store-products-box-div div {
    display: flex;
    justify-content: space-between;
}

.store-products-box-div span {
    padding-left: 4px;
    border-left: 2px solid #e60012;
}

.fa-heart {
    color: #e60012;
    font-size: 20px;
}

.content1-box1 li a:hover  {
    color: #b6000f;
    transition: 200ms;
}

.store-products-box a:hover h3 {
    color: #e60012;
    transition: 200ms;
}

.store-products-box a:hover img {
    filter: brightness(50%);
    transition: 200ms;
} 

/* Dropdown 2 */

.dropdown.content2 {
    position: absolute;
    display: none;
    right: -32px;
    top: 40px;
}

.content2-container {
    width: 180px;
    background-color: #fff;
}

.content2-ul li {
    list-style: none;
}

.content2-ul li a {
    display: block;
    text-decoration: none;    
    width: 100%;
    padding: 8px;
}

.content2-ul li a:hover {
    background-color: #f5f5f5;
    color: #484848;
}

/* Dropdown 3 */

.dropdown.content3 {
    /* position: absolute; */
    display: none;
    right: -32px;
    top: 40px;
}

.content3 li {
    list-style: none;
}

.content3-container {
    width: 100%;
    height: 360px;
    /* background-color: #f5f5f5; */
}

.c3-title-container {
    position: relative;
    width: 100%;
    height: 64px;
    background-color: #e60012;
    padding-top: 10px;
}

.c3-title-container h1 {
    text-align: center;
}

.c3-title-container h1 a {
    color: #fff;
    font-size: 20px;
}

.c3-title-fancy {
    width: 100%;
    height: 14px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDVweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgNDUgMTQiIHZlcnNpb249IjEuMSIKICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDx0aXRsZT5TdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuPC90aXRsZT4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJTdG9yZWZyb250LWF3bmluZy1wYXR0ZXJuIiBmaWxsPSIjRTYwMDEyIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cGF0aCBkPSJNNDUsMCBMMCwwIEwwLDEzLjc3MzY4IEMxLjMzMzAyMDAxLDEzLjgzNzcxOTMgMi42NDkxNDAxMywxMy40NTM5MDE4IDMuNzM4NzcsMTIuNjgzMzUgTDE5LjI4NDQ4LDEuNjI4NjYgQzIxLjM2NjIzOTQsMC4xNDgzMTg1OTggMjQuMTU3MDEwNiwwLjE0ODMxODU5OCAyNi4yMzg3NywxLjYyODY2IEw0MS43ODQ0OCwxMi42ODMzNSBDNDIuNzI4MzU2MywxMy4zNTAwNDM4IDQzLjg0NTI4NSwxMy43Mjg3NzYgNDUsMTMuNzczNjggTDQ1LDAgWiIgaWQ9IlBhdGgiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==);
}

.close {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 26px;
    height: 26px;
    line-height: 1;
    font-size: 24px;
    font-weight: 600;
    color: #e60012;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    padding-bottom: 8px;
}

.c3-box-container {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 26px;
}

.c3-column li {
    margin-top: 14px;
}

.c3-column i {
    margin-right: 4px;
    color: #e60012;
}

.button {
    position: relative;
    width: 130px;
    height: 50px;
    background-color: #e60012;
    border: 1px solid #e60012;
    border-radius: 4px;
}

.button a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.button.shop-all {
    background-color: #fff;
    margin: 32px auto;
}

.button.button.shop-all a {
    color: #e60012;
}

.c3-column li a:hover,
.c3-column li a strong:hover {
    color: #e60012;
    transition: 200ms;
}

.button:hover {
    background-color: #ffeff0;
    transform: scale(1.1);
    transition: all 200ms ease-in-out 0s;
}

/* .button:hover a {
    font-size: 16.3px;
    transition: all 200ms ease-in-out 0s;
    text-align: center;
} */

/* Dropdown 4 */

.dropdown.content4 {
    display: none;
}

.content4-container,
.content5-container,
.content6-container {
    position: relative;
    width: 100%;
    /* background-color: #ffeff0; */
}

.content4-container {
    height: 160px;
}

.c4-boxes-container,
.c5-boxes-container,
.c6-boxes-container {
    margin: auto;
    /* border: 1px solid #000; */
    padding-top: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.c4-boxes-container {
    width: 600px;
}

.c4-box i,
.c5-box i,
.c6-box i {
    width: 130px;
    height: 64px;
    border: .1px solid #484848;
    border-radius: 4px;
    padding: 8px 24px;
    font-size: 36px;
    text-align: center;
    line-height: 44px;
}

.c4-box p,
.c5-box p,
.c6-box p {
    margin-top: 12px;
    font-size: 15px;
    text-align: center;
}

.c4-box p {
    width: 120px;
}

.c4-box:hover p,
.c5-box:hover p,
.c6-box:hover p {
    color: #e60012;
    transition: 200ms;
}

.c4-box:hover i,
.c5-box:hover i,
.c6-box:hover i {
    background-color: #e60012;
    color: #fff;
    transition: 200ms;
}

.close.grey {
    background-color: #cecece;
    color: #fff;
    top: 5px;
}

/* Dropdown 5 */

.dropdown.content5 {
    display: none;
}

.content5-container {
    height: 150px;
}

.c5-boxes-container {
    width: 800px;
}

.c5-box img {
    height: 60px;
    border: .1px solid #484848;
    border-radius: 4px;
}

.c5-box:hover img {
    background-color: #e60012;
    transition: 200ms;
}

/* Dropdown 6 */

.dropdown.content6 {
    display: none;
}

.content6-container {
    height: 140px;
}

.c6-boxes-container {
    width: 500px;
}


